.cl-white {
	color: #fff;
}

.cl-black {
	color: #31353D;
}

.cl-moss {
	color: #4d917b;
}

.cl-aqua {
	color: #81cec1;
}

.cl-lav {
	color: #917578;
}

.cl-lime {
	color: #afbd21;
}



.force-va-mid {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.va-mid {
	vertical-align: middle;
}

.hidden {
	display:none !important;
}

.expandable.collapsed {
	display:none;
}

.expandable {
    transition: max-height 0.5s ease-in-out;
    line-height: 1;
    height: auto;
}

.chh-see-all {
	display:inline-block;
	padding: 0.5em 1.5em 0.5em 1.5em;
	font-size: 1em;
	cursor: pointer;
}

.ans-cont {
	float:right;
	display:inline-block;
	margin-top: -0.5em;
	margin-right: 0.3em;
	margin-left: 1em;
	margin-bottom: 0.3em;
}

.ans-sym:last-child {
	font-size: 16px;
	line-height: 2.4;
	vertical-align:top;
}

.ans-sym {
	font-size: 20px;
	margin-left: 0.1em;
	margin-right: 0.1em;
	font-style: normal;
	background-color: white;
	width: 36px;
	height: 36px;
	border-radius: 20px;
	border: 2px solid;
	text-align: center;
	display: inline-block;
	line-height: 2;
	cursor: pointer;
}

.ans-sym.picked {
	border-color: #fff;
	color: #fff;
}

.cl-moss > .ans-sym {
	border-color: #4d917b;
}

.cl-aqua > .ans-sym {
	border-color: #81cec1;
}

.cl-lav > .ans-sym {
	border-color: #917578;
}

.cl-lime > .ans-sym {
	border-color: #afbd21;
}

.cl-moss > .ans-sym.picked {
	background-color: #4d917b;
}

.cl-aqua > .ans-sym.picked {
	background-color: #81cec1;
}

.cl-lav > .ans-sym.picked {
	background-color: #917578;
}

.cl-lime > .ans-sym.picked {
	background-color: #afbd21;
}


.chh-plus {
	background-color: #fff;
	border-radius: 2em 2em 2em 2em;
	width: 1em;
	height: 1em;
	display: inline-block;
	text-align: center;
}

.chh-q-to-a {
	margin-top: 1.5em;
	padding: 1.6em 7.5em 1.6em 2em;
	position:relative;
}

.chh-subq-to-a {
	position: relative;
	font-size: 1.6em;
	font-weight: 600;
	padding-left: 18px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	max-height: 250px;
}

.chh-subq-to-a > .chh-plus {
	right: 30px;
	font-size: 1.6em;
}

.chh-subq-to-a > span:not(.ans-cont) {
	display: inline-block;
	width: 38%;
}

@media (min-width: 360px) {
	.chh-subq-to-a > span:not(.ans-cont) {
	    width: 46%;
	}
}

@media (min-width: 400px) {
	.chh-subq-to-a > span:not(.ans-cont) {
	    width: 52%;
	}
}

@media (min-width: 450px) {
	.chh-subq-to-a > span:not(.ans-cont) {
	    width: 59%;
	}
}

@media (min-width: 550px) {
	.chh-subq-to-a > span:not(.ans-cont) {
	    width: 65%;
	}
}

@media (min-width: 768px) {
	.chh-subq-to-a > span:not(.ans-cont) {
	    display:inline;
	}
}




.chh-subq-t {
	position: relative;
	font-weight: 400;
	line-height:1;
	display: block;
	margin-top: 0.5em;
}

@media (min-width: 480px) {
	.chh-subq-t {
	    padding-right: 8em;
	}
}



@media (min-width: 480px) {
	.chh-subq-to-a {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-subq-to-a {
	    font-size: 2em;
	}
}



.chh-subq-t > div {
	padding-bottom: 1em;
}

.border-moss {
	border-left: 3px solid #4d917b;
	border-right: 3px solid #4d917b;
	border-bottom: 3px solid #4d917b;
}

.border-aqua {
	border-left: 3px solid #81cec1;
	border-right: 3px solid #81cec1;
	border-bottom: 3px solid #81cec1;
}

.border-lav {
	border-left: 3px solid #917578;
	border-right: 3px solid #917578;
	border-bottom: 3px solid #917578;
}

.border-lime {
	border-left: 3px solid #afbd21;
	border-right: 3px solid #afbd21;
	border-bottom: 3px solid #afbd21;
}

.chh-q-to-a:hover {
	cursor: pointer;
}

.chh-q-to-a .chh-plus {
	font-size: 3.6em;
	right: 0.833em;
}

.chh-plus > span {
	line-height: 1.08;
	display: block;
}

.chh-plus.bordered {
	border: 2px solid;
}

.chh-qa-title {
	font-size: 3.6em;
	font-weight: 600;
}

.chh-q-to-a-title {
	font-weight: 600;
	font-size: 2.4em;
}

.chh-qa-text {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: 400;
	display: block;
}

@media (min-width: 480px) {
	.chh-qa-text {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-qa-text {
	    font-size: 2em;
	}
}

.chh-grid-title {
	font-size: 3em;
	font-weight: 600;
	color: #fff;
}

.chh-grid-text {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: 400;
	color: #fff;
	display: block;
}

@media (min-width: 480px) {
	.chh-grid-text {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-grid-text {
	    font-size: 2em;
	}
}


.chh-grid-icon {
	color: #fff;
	float:right;
	margin-right: -13px;
	margin-top: -10px;
	display:inline-block;
	width: 60px;
	height: 60px;
}

.chh-q-icon {
	float:right;
	display:inline-block;
	width: 50px;
	height: 50px;
	margin-right: 23px;
}

.bkg-moss {
	background-color: #4d917b;
}

.bkg-aqua {
	background-color: #81cec1;
}

.bkg-lav {
	background-color: #917578;
}

.bkg-lime {
	background-color: #afbd21;
}

.chh-grid-container {
	display:flex;
	flex-wrap: wrap;
}

.chh-grid-item {
	padding: 3em;
	border: 1px solid #fff;
	box-sizing: border-box;
	width: 100%;
}
/*grid*/
.chh-container {
	box-sizing: border-box;
	font-family:proxima-nova, sans-serif;
	font-size:10px;
}

.chh-row:before, .chh-row:after {
    display: table;
    content: " ";
}

.chh-row:after {
    clear: both;
}

.chh-col {
	box-sizing: border-box;
	float: left;
}

.chh-col-xxs-12 {
	width: 100%;
}

@media (min-width: 620px) {
	.chh-grid-item {
	    width: 50%;
	}
}

@media (min-width: 768px) {
	.chh-grid-item {
	    width: 50%;
	}
}

