.cl-white {
	color: #fff;
}

.cl-black {
	color: #31353D;
}

.cl-moss {
	color: #4d917b;
}

.cl-aqua {
	color: #81cec1;
}

.cl-lav {
	color: #917578;
}

.cl-lime {
	color: #afbd21;
}



.force-va-mid {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.hidden {
	display:none !important;
}

.expandable.collapsed {
	height: 0px;
	overflow:hidden;
}

.expandable {
    transition: height 0.3s ease-in-out;
    line-height: 1;
    height: auto;
}

.chh-plus {
	background-color: #fff;
	border-radius: 2em 2em 2em 2em;
	width: 1em;
	height: 1em;
	display: inline-block;
	text-align: center;
}

.chh-q-to-a {
	margin-top: 1.5em;
	padding: 1.6em 7.5em 1.6em 2em;
	position:relative;
}

.chh-subq-to-a {
	position: relative;
	font-size: 1.6em;
	font-weight: 600;
	padding-left: 18px;
	padding-top:1em;
	padding-bottom: 1em;
	padding-right: 5em;
}

.chh-subq-to-a > .chh-plus {
	right: 30px;
	font-size: 1.6em;
}

.chh-subq-t {
	background-color: #fff;
	margin-top: -3px;
	position: relative;
	font-size: 1.6em;
	font-weight: 400;
	padding-left: 30px;
	padding-right: 5em;
}

@media (min-width: 480px) {
	.chh-subq-to-a, .chh-subq-t {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-subq-to-a, .chh-subq-t {
	    font-size: 2em;
	}
}



.chh-subq-t > div {
	padding-bottom: 1em;
}

.border-moss {
	border-left: 3px solid #4d917b;
	border-right: 3px solid #4d917b;
	border-bottom: 3px solid #4d917b;
}

.border-aqua {
	border-left: 3px solid #81cec1;
	border-right: 3px solid #81cec1;
	border-bottom: 3px solid #81cec1;
}

.border-lav {
	border-left: 3px solid #917578;
	border-right: 3px solid #917578;
	border-bottom: 3px solid #917578;
}

.border-lime {
	border-left: 3px solid #afbd21;
	border-right: 3px solid #afbd21;
	border-bottom: 3px solid #afbd21;
}

.chh-q-to-a:hover {
	cursor: pointer;
}

.chh-q-to-a .chh-plus {
	font-size: 3.6em;
	right: 0.833em;
}

.chh-plus > span {
	line-height: 1.08;
	display: block;
}

.chh-plus.bordered {
	border: 2px solid;
}

.chh-qa-title {
	font-size: 3.6em;
	font-weight: 600;
}

.chh-q-to-a-title {
	font-weight: 600;
	font-size: 2.4em;
}

.chh-qa-text {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: 400;
	display: block;
}

@media (min-width: 480px) {
	.chh-qa-text {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-qa-text {
	    font-size: 2em;
	}
}

.chh-grid-title {
	font-size: 3em;
	font-weight: 600;
	color: #fff;
}

.chh-grid-text {
	margin-top: 1em;
	font-size: 1.6em;
	font-weight: 400;
	color: #fff;
	display: block;
}

@media (min-width: 480px) {
	.chh-grid-text {
	    font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.chh-grid-text {
	    font-size: 2em;
	}
}


.chh-grid-icon {
	color: #fff;
	float:right;
	margin-right: -10px;
	margin-top: -10px;
	display:inline-block;
	width: 60px;
	height: 60px;
}

.chh-q-icon {
	float:right;
	display:inline-block;
	width: 50px;
	height: 50px;
	margin-right: 23px;
}

.bkg-moss {
	background-color: #4d917b;
}

.bkg-aqua {
	background-color: #81cec1;
}

.bkg-lav {
	background-color: #917578;
}

.bkg-lime {
	background-color: #afbd21;
}

.chh-grid-container {
	display:flex;
	flex-wrap: wrap;
}

.chh-grid-item {
	padding: 3em;
	border: 1px solid #fff;
	box-sizing: border-box;
	width: 100%;
}
/*grid*/
.chh-container {
	box-sizing: border-box;
	font-family:proxima-nova, sans-serif;
	font-size:10px;
}

.chh-row:before, .chh-row:after {
    display: table;
    content: " ";
}

.chh-row:after {
    clear: both;
}

.chh-col {
	box-sizing: border-box;
	float: left;
}

.chh-col-xxs-12 {
	width: 100%;
}

@media (min-width: 480px) {
	.chh-grid-item {
	    width: 100%;
	}
}

@media (min-width: 768px) {
	.chh-grid-item {
	    width: 50%;
	}
}

